
mat-card {
    padding: 3rem;
    z-index: 0;

}

mat-card-header {
    flex-direction: column;
    padding: 0;

    div {
        font-weight: 400;
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.5rem;

    }
}

.background{
    background-color: #ECEEFE;
    
}

mat-card-content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    
    input {
        height: 3.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        outline: none;
        border: transparent;
        background-color: #ECEEFE;
        border-radius: 100px;
        &::placeholder{
            font-weight: bold;
            color: grey;
            font-size: 1.2rem;
        }
    }

    .input-container{
        flex-direction: column;
        display: flex;
        width: 100%;

        div{
            color: #ED1E79;
            font-weight: bold;
            font-size: 0.8rem;
        }
       

    }
}

.login-container {
    width: 25%;
    height: 70vh;
    border-radius: 25px;
    align-items: center;


}

.pw-reset{
    font-size: 1.2rem;
    color: #797EF3;
    font-weight: 400;
    width: fit-content;
    padding: 0.5rem;
    transition: all 125ms ease-in-out;
    &:hover{
        cursor: pointer;
        font-weight: bold;
        background-color: #ECEEFE;
        border-radius: 100px;
        transition: 125ms ease-in-out;


    }
}



.login-oder-container{
    display: flex;
    flex-direction: row;
    .line{
        width: 40%;
        border-bottom: 2px solid #ECEEFE ;
    }

    div{
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.login-btn-container{
    gap: 30px;
}
.headline {
    margin-top: 3rem;
    color: #444DF2;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.google-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ECEEFE;
    gap: 1rem;
    height: 3.5rem;
    border-radius: 100px;
    color: #444DF2;
    font-size: 1.2rem;
}

.btn-blue{
    display: flex;
    justify-content: center;
    padding: 12px 25px 12px 25px;
    width: 30%;
    background-color: #444DF2;
    color: white;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover{
        opacity: 0.7;
        transition: all 150ms ease-in-out;
    }
}

.btn-white{
    display: flex;
    justify-content: center;
    padding: 12px 25px 12px 25px;
    width: 30%;
    color: #444DF2;
    font-weight: bold;
    border-radius: 100px;
    border: 1px solid #444DF2;
    transition: all 150ms ease-in-out;
    cursor: pointer;

    &:hover{

        background-color: #444DF2;
        color: white;
        transition: 150ms ease-in-out;
    }
}

