.background {
    background-color: #ECEEFE;
}

.page-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #ECEEFE;
}

#login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 769px;
    min-width: 606px;
    max-width: 606px;
    gap: 32px;
    z-index: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 60px;

    h1 {
        margin-top: 50px;
        margin-bottom: 0;

    }
}

.login-help-text {
    font-weight: 400;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5rem;
}


.input-container {
    flex-direction: column;
    display: flex;
    width: 100%;

    div {
        color: #ED1E79;
        font-weight: bold;
        font-size: 0.8rem;
    }

    input {
        height: 3.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        outline: none;
        border: 1px solid transparent;
        background-color: #ECEEFE;
        border-radius: 100px;

        &::placeholder {
            font-weight: bold;
            color: grey;
            font-size: 1.2rem;
        }

        &:hover {
            border: 1px solid blue;
            cursor: pointer;
        }




    }
}


.login-or-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .line {
        display: flex;
        min-width: 42%;
        border-bottom: 2px solid rgb(0, 0, 0, 0.1);
        border-radius: 1px;
    }

    div {
        width: 10%;
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.login-container {
    width: 25%;
    height: 70vh;
    border-radius: 25px;
    align-items: center;


}

.pw-reset {
    display: flex;
    font-size: 1.2rem;
    color: #797EF3;
    font-weight: 400;
    width: fit-content;
    justify-content: center;
    padding: 0.5rem;
    transition: all 125ms ease-in-out;

    &:hover {
        cursor: pointer;
        font-weight: bold;
        background-color: #ECEEFE;
        border-radius: 100px;
        transition: 125ms ease-in-out;


    }
}





.login-btn-container {
    gap: 30px;
}

.headline {
    margin-top: 3rem;
    color: #444DF2;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ECEEFE;
    gap: 1rem;
    height: 3.5rem;
    border-radius: 100px;
    color: #444DF2;
    font-size: 1.2rem;
}

.btn-blue {
    display: flex;
    justify-content: center;
    padding: 12px 25px 12px 25px;
    width: 153px;
    background-color: #444DF2;
    color: white;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover {
        opacity: 0.7;
        transition: all 150ms ease-in-out;
    }
}

.btn-white {
    display: flex;
    justify-content: center;
    padding: 12px 25px 12px 25px;
    width: 153px;
    color: #444DF2;
    font-weight: bold;
    border-radius: 100px;
    border: 1px solid #444DF2;
    transition: all 150ms ease-in-out;
    cursor: pointer;

    &:hover {

        background-color: #444DF2;
        color: white;
        transition: 150ms ease-in-out;
    }
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 24px;
    margin: 32px;

    .sign-up-text {
        font-size: 18px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .sign-up-link {
        font-size: 18px;
        color: #797EF3;
        cursor: pointer;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
        z-index: 1;
        border: 1px solid transparent;
        border-radius: 25px;
        transition: border 125ms ease-in-out;

        &:hover {
            border: 1px solid #444DF2;
            transition: border 125ms ease-in-out;
        }
    }
}
