<div class="container">

    <div class="WorkspaceHead">
        <div class="WorkspaceHeadTitle">
            <img src="/assets/img/icons/workspace-logo.svg" alt="">
            <span>Code learning</span>
        </div>
        <img src="/assets/img/icons/edit_square.svg" alt="">
    </div>

    <div class="WorkspaceBody">

        <div class="ChannelsHead">
            <div class="ChannelsChild">
                <img src="/assets/img/icons/arrow_drop_down.svg" alt="">

                <img src="/assets/img/icons/workspaces.svg" alt="">
                <span>Channels</span>
            </div>
            <img src="/assets/img/icons/add.svg" alt="">

        </div>
        <div class="DirectMessageHead"></div>
    </div>

    <div class="WorkspaceBody">

        <div class="ChannelsHead">
            <div class="ChannelsChild">
                <img src="/assets/img/icons/arrow_drop_down.svg" alt="">

                <img src="/assets/img/icons/account_circle.svg" alt="">
                <span>Direktnachrichten</span>
            </div>
            <img src="/assets/img/icons/add.svg" alt="">

        </div>
        <div class="DirectMessageHead"></div>
    </div>
</div>


