<div class="chat-box-container">
    <section id="right-chat-box_">
        <div class="right-chat-top">
            <div class="right-chat-top-left">
                <div class="fs-24"><b>Thread</b></div>
                <div class="fs-14 fc-purple2"># Entwicklerteam</div>
            </div>
            <div>
                <img src="./assets/img/close.svg">
            </div>
        </div>
        <div class="right-chat-middle">
            <div class="chat-text-container">
                <img src="./assets/img/profile_pictures/profile_img_1.svg">
                <div class="chat-text">
                    <div class="chat-text-top">
                        <div class="chat-text-name">Noah Braun</div>
                        <div class="chat-text-time">14:30 Uhr</div>
                    </div>
                    <div class="chat-text-middle">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium aut ratione sint placeat
                            iure similique. Quae aperiam possimus eos fuga! Fuga exercitationem facere accusantium fugit
                            tenetur. Nisi ab impedit quae?</p>
                    </div>
                    <div class="chat-text-bottom">
                        <div class="chat-text-emoji-reaction">
                            <img src="./assets/img/emojis/emoji_1.svg">
                            <div>1</div>
                        </div>
                        <div class="add-emoji">
                            <img src="./assets/img/emojis/add_reaction.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-text-container">
                <img src="./assets/img/profile_pictures/profile_img_2.svg">
                <div class="chat-text">
                    <div class="chat-text-top">
                        <div class="chat-text-name">Sofia Müller</div>
                        <div class="chat-text-time">14:30 Uhr</div>
                    </div>
                    <div class="chat-text-middle">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium aut ratione sint placeat
                            iure similique. Quae aperiam possimus eos fuga! Fuga exercitationem facere accusantium fugit
                            tenetur. Nisi ab impedit quae?</p>
                    </div>
                    <div class="chat-text-bottom">
                        <div class="chat-text-emoji-reaction">
                            <img src="./assets/img/emojis/emoji_1.svg">
                            <div>1</div>
                        </div>
                        <div class="add-emoji">
                            <img src="./assets/img/emojis/add_reaction.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-text-container">
            <app-wirte-text-box></app-wirte-text-box>
        </div>

    </section>
</div>