<app-header-logo></app-header-logo>
<div class="page-container">
    <section id="sign-up-card">
        <div class="sign-up-card-header">
            <img src="./assets/img/arrow_back.svg" alt="">
            <h1 class="headline">Konto erstellen</h1>
        </div>
        <div class="sign-up-help-text">
            Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto
        </div>
        <div class="input-container">
            <div class="input-field">
                <img src="./assets/img/person_filled.svg">
                <input type="text" id="input-fist-and-second-name" placeholder="Name und Nachname">
            </div>
            <div class="input-field">
                <img src="./assets/img/mail.svg">
                <input type="email" id="input-sign-up-email" placeholder="beispielname@email.com">
            </div>
            <div class="input-field">
                <img src="./assets/img/lock.svg">
                <input type="password" placeholder="Passwort">
            </div>
        </div>
        <div class="sign-up-policy-container">
            <img src="./assets/img/check_box_outline_blank.svg">
            <div>Ich Stimme der der </div> <div class="sign-up-policy-link">Datenschutzerklärung</div> <div>zu</div>
        </div>
        <div class="sign-up-btn-container">
            <div class="btn-blue sign-up-btn">Weiter</div>
        </div>

    </section>
    <app-auth-bottom></app-auth-bottom>
</div>