.page-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 149.44px);
    background-color: #ECEEFE;
}

#password-reset-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 469px;
    min-width: 606px;
    max-width: 606px;
    gap: 32px;
    z-index: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: white;
}

.password-reset-card-header{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    img {
        position: absolute;
        object-fit: contain;
        height: 30px;
        top: 54px;
        left: 0px;
        background-color: transparent;
        border-radius: 100%;
        transition: background-color 125ms ease-in-out;

        &:hover{
            background-color:#ECEEFE ;
            border-radius: 100%;
            transition: all 125ms ease-in-out;
            cursor: pointer;
        }
        
    }

    .headline {
        margin-top: 3rem;
        color: #444DF2;
        font-weight: bold;
        font-size: 3rem;
        width: 100%;
        text-align: center;
    }
}

.password-reset-help-text {
    font-weight: 400;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;


    .input-field{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 32px;
        width: calc(100% - 48px);
        height: 3.5rem;
        padding-left: 2rem;
        padding-right: 1rem;
        border: 1px solid transparent;
        background-color: #ECEEFE;
        border-radius: 100px;
        border: 1px solid transparent;
        transition: border 125ms ease-in-out;

        &:hover{
            cursor: pointer;
            border: 1px solid black;
            transition: border 125ms ease-in-out;
        }

        img{

            object-fit: contain;
            width: 20px;
            height: 20px;
        }

        input{
            border: 0;
            outline: 0;
            height: inherit;
            background-color: transparent;
        }
    }
    
    div {
        display: flex;
        align-self: flex-start;
        color: #ED1E79;
        font-weight: bold;
        font-size: 0.8rem;
    }

}

.password-reset-text{
    display: flex;
    width: 80%;
    font-size: 20px;
    color: #686868;
    text-align: center;
}


.send-mail-btn{
    display: flex;
    background-color: #686868;
    color: white;
    font-weight: 400;
    font-size: 18px;
    padding: 12px 25px 12px 25px;
    border-radius: 25px;

}

