<app-header-logo></app-header-logo>
<div class="page-container">
    <section id="password-reset-card">
        <div class="password-reset-card-header">
            <img  routerLink="/" src="./assets/img/arrow_back.svg" alt="">
            <h1 class="headline">Passwort zurücksetzen</h1>
        </div>
        <div class="password-reset-help-text">
            Bitte geben Sie Ihre E-Mail-Adresse ein.
        </div>
        <div class="input-container">
            <div class="input-field">
                <img src="./assets/img/mail.svg">
                <input type="email" id="input-sign-up-email" placeholder="beispielname@email.com">
            </div>
            <div>*Diese E-mail-Adresse ist leider ungültig.</div>
        </div>
        <div class="card-row">
            <div class="password-reset-text">
                Wir senden Ihnen eine E-Mail, über die Sie ihr Passwort ändern können.
            </div>
        </div>
        <div class="card-row flex-justify-end">
            <div class="send-mail-btn">E-Mail senden</div>
        </div>
    </section>
    <app-auth-bottom></app-auth-bottom>
</div>
