<app-header-logo></app-header-logo>
<div class="page-container">
    <section id="choose-avatar-card">
        <div class="choose-avatar-card-header">
            <img  routerLink="/sign-up" src="./assets/img/arrow_back.svg" alt="">
            <h1 class="headline">Wähle dein Avatar</h1>
        </div> 
        <div class="profile-picture-container">
            <img src="./assets/img/profile_pictures/profile_example.svg">
        </div>
        <div class="username-container">
            <h2>Frederik Beck</h2>
        </div>
        <div class="avatar-list-container">
            <div class="card-text"> Aus der Liste wählen</div>
            <div class="avatar-img-container">
                <img src="./assets/img/profile_pictures/profile_img_1.svg">
                <img src="./assets/img/profile_pictures/profile_img_2.svg">
                <img src="./assets/img/profile_pictures/profile_img_3.svg">
                <img src="./assets/img/profile_pictures/profile_img_4.svg">
                <img src="./assets/img/profile_pictures/profile_img_5.svg">
                <img src="./assets/img/profile_pictures/profile_img_6.svg">
            </div>

            <div class="flex-row flex-align-center gap-16">
                <div>eigenes Bild verwenden</div><div class="btn-white">Datei hochladen</div>
            </div>
        </div>

        <div class="choose-avatar-btn-container">
            <div  routerLink="/sign-up/choose-avatar" class="btn-blue choose-avatar-next-btn">Weiter</div>
        </div>


    </section>











    
    <app-auth-bottom></app-auth-bottom>
</div>






