<div class="background">

    <div class="logoParent">
        <img class="logo" src="./assets/img/Logo.svg" alt="">
        <p>
        DABubble
        </p>

    </div>

    <div class="searchBarParent">

        
            <input type="text" placeholder="Search">
            <button class="searchButton">
                <img src="./assets/img/search.svg" alt="">
            </button>
        
    </div>

<div class="user">
    <p>
        Frederick Beck
    </p>
    <div>
        <img class="avatarImg" src="./assets/img/userAvatar/1.svg" alt="">
    </div>

    <div class="optionDropdown">
        <img class="dropdownImg" src="./assets/img/arrowDown.svg" alt="">
    </div>
</div>

</div>